<div class="home__container">
    <app-card
      gameCover="assets/ff-16.png" 
      gameLabel="PRÉ-VENDA" 
      gameType="PS5" 
      gamePrice="349,90" 
    >
    </app-card>
    <app-card
      gameCover="assets/celeste-cover.png" 
      gameLabel="DIGITAL" 
      gameType="PS4" 
      gamePrice="R$ 83,50" 
    >
    </app-card>
    <app-card
      gameCover="assets/ft-selva.jpg" 
      gameLabel="DIGITAL" 
      gameType="PS4 PS5" 
      gamePrice="GRATUITO" 
    >
    </app-card>
    <app-card
      gameCover="assets/d-4.png" 
      gameLabel="DIGITAL" 
      gameType="PS4 PS5" 
      gamePrice="R$ 349,90" 
    >
    </app-card>
    <app-card
      gameCover="assets/sf-6.jpg" 
      gameLabel="DIGITAL" 
      gameType="PS4 PS5" 
      gamePrice="R$ 279,50" 
    >
    </app-card>
    <app-card
      gameCover="assets/tlou-pt1.jpg" 
      gameLabel="DIGITAL" 
      gameType="PS5" 
      gamePrice="R$248,42" 
    ></app-card>
<div>
